
@font-face {
    font-family: norsebold;
    src: url('font/webfontkit-20220414-184907/norse-bold-webfont.woff2') format('woff2'),
         url('font/webfontkit-20220414-184907/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}  
:root {
    --create-account-button: #596D48;
    --the-inputs: #E5E7EB;
}
.container {
    display: flex;
}
.photo-container {
    background: no-repeat center/100% url("background.jpg");
    width: 500px;
    height: 600px;
    position: relative;
}
.photo-container div:first-child{
    position: absolute;
    background: black;
    opacity: 50%;
    width: 100%;
    height: 100px;
    top: 22%;
    height: 100px;
}
.credits {
    position: absolute;
    top: 95%;
    color: white;
    font-size: 0.6rem;
    right: 35%;
}
.logo {
   position: absolute;
   width: 60px;
   height: 80px;
   top: 24%;
   right: 55%;
   opacity: 1;  
}
.logo-text {
    font-family: norsebold;
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 26%;
    right: 30%;
}
.parag {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    position: relative;
    
}
.pp {
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 35px;
    padding-right: 200px;
    padding-bottom: 10px;
    background-color: rgb(246, 250, 252);    
}
fieldset {
    display: flex;
    gap: 50px;
    padding-left: 30px;
    margin: 0px;
    border: none;    
}
label {
    display: block;
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
}
label[for="firstName"],
label[for="lastName"]{
    padding-top: 50px;
}
.form-container {
margin-top: 10px;
position: relative;


}
legend {
    position: absolute;
    top: 20px;
    font-size: 1.5rem;
    font-weight:300;
}

.error {
    border: solid 1px red;
}
.error:focus {
    border: solid 1px red;
}
input:focus {
    outline: 0;
    border: solid 1px blue;
    box-shadow: 1px 1px lightblue;
}
span {
    display: block;
    color: red;
    font-size: 0.6rem;
}
.btn {
    position: relative;
    height: 167px;
    background: linear-gradient(to bottom, rgb(208, 230, 241), rgb(246, 250, 252) 2%);
}
button {
    position: absolute;
    top: 20%;
    left: 30px;
    background-color: var(--create-account-button);
    width: 150px;
    height: 35px;
    color: white;
    font-weight: bold;
    border-radius: 10%;
    
}
.btn p {
    position: absolute;
    top: 50%;
    left: 30px;
}
.silver {
    display: inline;
    color: rgb(83, 79, 79);
    font-size: 1rem;
    font-weight: bold;
}